/* Centering the Banner Container */
.banner-container {
    width: 100%;
    max-height: 15rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}


.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto; 
}

/* Contact Container */
.contact-container {
    width: 100%;
    max-width: 600px;
    margin: 50px 0;
}

.contact-title {
    font-size: 24px;
    font-weight: bold;
    color: #223F5F;
    margin-bottom: 10px;
    text-align: left;
}

.contact-subtitle {
    font-size: 16px;
    color: #AAA957;
    margin-bottom: 20px;
    text-align: left;
}

.contact-label {
    display: block;
    font-size: 16px;
    color: #223F5F;
    margin-bottom: 5px;
    text-align: left;
}

.contact-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #223F5F;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #223F5F;
    border-radius: 4px;
    height: 150px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style for Red * Symbols */
.contact-title, .contact-subtitle, .contact-label {
    position: relative;
}

.contact-title::after,
.contact-subtitle::before,
.contact-label::after {
    content: "*";
    color: red;
    margin-left: 2px;
}

.contact-subtitle::before {
    margin-left: 0;
}

/* Dropdown Menu Styles */
.contact-dropdown {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #223F5F;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    font-size: 16px;
    color: #223F5F;
}

/* Submit Button Styles */
.contact-submit {
    width: 100%;
    padding: 12px;
    background-color: #6F8195;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.contact-submit:hover {
    background-color: #5a6b7c;
}

/* Image Styles */
.contact-image-container {
    position: relative;
    flex-shrink: 0;
    width: 1221px;
}

.contact-image {
    width: 100%;
    height: auto;
    display: block;
}

.image-border-top,
.image-border-bottom {
    background-color: #223F5F;
    height: 50px;
    width: 100%;
    position: absolute;
    left: 0;
}

.image-border-top {
    top: 0;
}

.image-border-bottom {
    bottom: 0;
}

/* Responsive Design */
@media (min-width: 768px) {
    .content-wrapper .contact-dropdown .contact-image-container{
        flex-direction: column;
        gap: 1rem; /* Increase space between links on smaller screens */
    }
}